<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hackason10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CalenderAccess</display-name>
    <servlet-name>CalenderAccess</servlet-name>
    <servlet-class>hackason.CalenderAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderAccess</servlet-name>
    <url-pattern>/CalenderAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDay</display-name>
    <servlet-name>SelectDay</servlet-name>
    <servlet-class>hackason.SelectDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDay</servlet-name>
    <url-pattern>/SelectDay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAdd</display-name>
    <servlet-name>TaskAdd</servlet-name>
    <servlet-class>hackason.TaskAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAdd</servlet-name>
    <url-pattern>/TaskAdd</url-pattern>
  </servlet-mapping>
</web-app>